body{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
h1{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #3465;
    
}

p{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top:0px;
}
.form{
    position: absolute;
    margin: 40px;
    padding: 55px;
}